<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>

  <appSettings>
    <add key="ConnectionString" value="Data Source=N5110;Initial Catalog=ASESeminar;Integrated Security=True"/>
  </appSettings>
</configuration>
