<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <appSettings>
    <add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\Database.mdb;Mode=Share Deny None;"/>
  </appSettings>
</configuration>
